.post {
    display: flex;
    border: solid 1px #999;
    padding: 12px;
}

.post-user-img-area {
    min-width: 57px;
    border: solid 1px #6876f3;
}

.post-contents-area {
    width: 100%;
    margin-left: 10px;
}

.post-release-version {
    margin-left: 16px;
}

.post-date {
    color: #737373;
}

.post-main-contents-area {
    margin-top: 4px;
}

.post-emotions {
    display: flex;
}

.post-reactions-area {
    display: flex;
    margin-top: 12px;
}

.post-user-name {
    display: inline;
    font-weight: 700;
}

.post-basic-information {
    display: flex;
    justify-content: space-between;
}