.post {
    display: flex;
    padding: 12px;
    border: 1px solid #4B4B4B;
    background: #1e1e1e;
}

.post-user-img-area {
    min-width: 57px;
}

.post-contents-area {
    width: 100%;
    margin-left: 10px;
}

.post-release-version {
    margin-left: 16px;
}

.post-date {
    color: #737373;
}

.post-main-contents-area {
    margin-top: 4px;
}

.post-emotions {
    display: flex;
}

.post-reactions-area {
    display: flex;
    margin-top: 12px;
}

.post-user-name {
    display: inline;
    font-weight: 700;
}

.post-basic-information {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 599px) {
    .post-user-img-area {
        min-width: 32px;
    }

    .post-basic-information {
        display: block;
    }
}