footer {
    display: none;
}


.post-message-area {
    width: 600px;
    height: 100vh;
    padding: 32px 40px 0;
    border: 1px solid #4B4B4B;
    background-color: #1e1e1e;
    box-sizing: border-box;
}

.post-message-user-information {
    display: flex;
}

.post-message-user-information p {
    margin: auto 10px;
    font-weight: 600;
}

.post-message-container {
    display: flex;
    justify-content: space-between;
}

.post-message {
    height: auto;
    margin: 16px 0;
    border-bottom: solid 1px #4B4B4B;
}

.post-message textarea {
    width: 100%;
    height: 544px;
    font-size: 16px;
    line-height: 1.47;
    color: #E3E3E3;
    box-sizing: border-box;
    background: none;
    border: none;
    resize: none;
    outline: none;
}

.post-message-btn button {
    font-size: 16px;
    padding: 4px 16px;
    background: none;
    border: solid 1px #a3e2ee;
    color: #a3e2ee;
}

@media (max-width: 599px) {
    header:has(+ .post-message-area){
        display: none;
    }

    .post-message-area {
        width: 100%;
        padding: 12px 8px 0;
    }

    .post-message textarea {
        font-size: 15px;
    }

    /* テキストエリアをフォーカス時の拡大を解除 */
    .post-message textarea:focus {
        font-size: 15px;
        transform: scale(1);
    }

    .post-message-container {
        display: block;
    }

    .post-message-btn button {
        position: fixed;
        bottom: 16px;
        right: 8px;
    }
}