.header {
    color: #333;
    display: flex;
    justify-content: end;
}

.test-class {
    color: red;
}

.header-contents-area {
    position: sticky;
    top: 0px;
    border: solid 1px #333;
    width: 390px;
    height: fit-content;
    margin-right: 8px;
    padding: 32px;
    box-sizing: border-box;
}

.content-bg-style {
    border: 1px solid #4B4B4B;
    background: #1e1e1e;
}