.header {
    color: #333;
    display: flex;
    justify-content: end;
}

.test-class {
    color: red;
}

.test11 {
    position: sticky;
    top: 0px;
    border: solid 1px #333;
    max-width: 390px;
    height: fit-content;
    margin-right: 8px;
}